/*  .grid-container{
	display:grid;
	grid-gap : 10px 10px;

grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.grid-item{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color:rgb(211, 211, 211);
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
}  */
.grid-container {
  display: grid;
	gap: 10px 10px;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
 
  
}

/* Styles for each grid item */
.grid-item {
  background-color: lightgray;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}


